<section class="col-md-offset-4 col-md-4">

<h1> Signup </h1>

<form #f="ngForm" (ngSubmit)="signup(f.form)">

   <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control"
        name="name"
        [(ngModel)]="user.name"
        #name="ngModel"
        required minlength="3" maxlength="30" />
      <div *ngIf="name.touched && !name.valid"  class="alert alert-danger">
        <div *ngIf="name.errors.required"> Name is required </div>
        <div *ngIf="name.errors.minlength"> Name must be atleast {{ name.errors.minlength.requiredLength }} characters. </div>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control"
        name="email"
        [(ngModel)]="user.email"
        #email="ngModel"
        required minlength="3" maxlength="30" />
      <div *ngIf="email.touched && !email.valid"  class="alert alert-danger">
        <div *ngIf="email.errors.required"> Email is required </div>
        <div *ngIf="email.errors.minlength"> Email must be atleast {{ email.errors.minlength.requiredLength }} characters. </div>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Password</label>
      <input type="text" class="form-control"
        name="password"
        [(ngModel)]="user.password"
        #password="ngModel"
        required minlength="6" maxlength="30" />
      <div *ngIf="password.touched && !password.valid"  class="alert alert-danger">
        <div *ngIf="password.errors.required"> Password is required </div>
        <div *ngIf="password.errors.minlength"> Password must be atleast {{ password.errors.minlength.requiredLength }} characters. </div>
      </div>
    </div>

    <input type="submit" class="btn btn-block btn-success"
        value="Submit"
        [disabled]="!f.valid" />

    <div style="margin-top: 1em;">Already have an account? <a href="/login">Log in</a> instead. </div>
</form>

</section>